certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
configparser==7.1.0
docker-pycreds==0.4.0
gitdb==4.0.11
gitpython==3.1.43
idna==3.8
numpy==1.26.4
pandas==1.2.3
pathtools==0.1.2
pip==20.3.3
promise==2.3
protobuf==3.20.0
psutil==6.0.0
python-dateutil==2.9.0
pytz==2024.1
pyyaml==6.0.2
requests==2.32.3
sentry-sdk==2.13.0
setuptools==59.8.0
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
subprocess32==3.5.4
urllib3==2.2.2
wandb==0.10.31
wheel==0.44.0